In [ ]:
!pip install sodapy

In [1]:
import pandas as pd
from sodapy import Socrata

In [2]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [26]:
# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
inspections = client.get("9w7m-hzhe", limit=400000)

In [27]:
# Convert to pandas DataFrame
inspections_df = pd.DataFrame.from_records(inspections)

In [28]:
inspections_df.to_csv('c:/LearnPython/inspections.csv',index=False, header=True)

In [29]:
inspections_df.head(1)

,action,boro,building,camis,critical_flag,cuisine_description,dba,grade,grade_date,inspection_date,inspection_type,phone,record_date,score,street,violation_code,violation_description,zipcode
0,Violations were cited in the following area(s).,BROOKLYN,1810,50007240,Not Critical,Caribbean,CASABLANCA BAR & GRILL,NaN,NaN,2015-08-14T00:00:00.000,Cycle Inspection / Initial Inspection,7182530902,2018-11-19T06:00:51.000,17,FLATBUSH AVE,10C,Lighting inadequate; permanent lighting not pr...,11210

In [30]:
inspections = inspections_df.drop(inspections_df.columns[[8,11,12]], axis=1)

inspections.head(1)

,action,boro,building,camis,critical_flag,cuisine_description,dba,grade,inspection_date,inspection_type,score,street,violation_code,violation_description,zipcode
0,Violations were cited in the following area(s).,BROOKLYN,1810,50007240,Not Critical,Caribbean,CASABLANCA BAR & GRILL,NaN,2015-08-14T00:00:00.000,Cycle Inspection / Initial Inspection,17,FLATBUSH AVE,10C,Lighting inadequate; permanent lighting not pr...,11210
1,Violations were cited in the following area(s).,QUEENS,13801,41305392,Critical,Donuts,DUNKIN' DONUTS,A,2017-01-04T00:00:00.000,Cycle Inspection / Initial Inspection,12,QUEENS BOULEVARD,02G,Cold food item held above 41รยบ F (smoked fish ...,11435
2,Violations were cited in the following area(s).,STATEN ISLAND,921,40385974,Critical,American,DAKOTA DINER,NaN,2018-02-15T00:00:00.000,Cycle Inspection / Initial Inspection,19,RICHMOND AVENUE,06D,"Food contact surface not properly washed, rins...",10314

In [31]:
inspections = inspections.rename(columns={"action": "Action","boro": "Borough","building": "Street Number",
                                          "camis": "Camis - Restaurant ID","critical_flag": "Critical Flag",
                                          "cuisine_description": "Cuisine","dba": "Name","grade": "Grade",
                                          "inspection_date": "Inspection Date","inspection_type": "Inspection Type",
                                          "score": "Score","street": "Street","violation_code": "Violation Code",
                                          "violation_description": "Violation Description","zipcode": "Zip"})

In [32]:
inspections['Street'] = inspections.Street.astype(str)

In [33]:
street = inspections['Street']

In [34]:
x = []

In [35]:
for i in street:
    x.append(' '.join(i.split()))

In [36]:
y = pd.Series(x)

In [37]:
inspections.insert(loc=0, column='Adjusted Street', value=y)

In [39]:
inspections['Full Street Address'] = inspections['Street Number'] + ' ' + inspections['Adjusted Street']

In [40]:
inspections = inspections.rename(columns={"action": "Action","boro": "Borough","building": "Street Number",
                                          "camis": "Camis - Restaurant ID","critical_flag": "Critical Flag",
                                          "cuisine_description": "Cuisine","dba": "Name","grade": "Grade",
                                          "inspection_date": "Inspection Date","inspection_type": "Inspection Type",
                                          "score": "Score","street": "Street","violation_code": "Violation Code",
                                          "violation_description": "Violation Description","zipcode": "Zip"})

In [41]:
inspections = inspections[["Inspection Date","Camis - Restaurant ID","Name","Cuisine","Full Street Address","Street Number",
                           "Adjusted Street","Street","Borough","Zip","Action","Critical Flag","Inspection Type","Grade",
                           "Score","Violation Code","Violation Description"]]

In [42]:
inspections['Inspection Date'] = pd.to_datetime(inspections["Inspection Date"])

In [46]:
inspections["Last"] = inspections["Adjusted Street"].str.split().str[-1]

In [48]:
inspections.head(1)

,Inspection Date,Camis - Restaurant ID,Name,Cuisine,Full Street Address,Street Number,Adjusted Street,Street,Borough,Zip,Action,Critical Flag,Inspection Type,Grade,Score,Violation Code,Violation Description,Last
0,2015-08-14,50007240,CASABLANCA BAR & GRILL,Caribbean,1810 FLATBUSH AVE,1810,FLATBUSH AVE,FLATBUSH AVE,BROOKLYN,11210,Violations were cited in the following area(s).,Not Critical,Cycle Inspection / Initial Inspection,NaN,17,10C,Lighting inadequate; permanent lighting not pr...,AVE

In [ ]:
inspections.to_csv('c:/LearnPython/inspections_nyc.csv',index=False, header=True)

In [100]:
# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of|
# dictionaries by sodapy.
food_poisoning = client.get("gjkf-etq5", limit=30000)

In [101]:
food_df.to_csv('c:/LearnPython/food.csv',index=False, header=True)

In [103]:
food = food_df.drop(food_df.columns[[30,29,26,25,24,23,21,20,18,17,16,13,12,10,9,6,5,2,1]], axis=1)

In [104]:
food = food.rename(columns={"created_date": "Incident Date","complaint_type": "Complaint","address_type": "Address Type",
                               "incident_address": "Street_Address","street_name": "Street","borough": "Borough",
                               "city": "City","incident_zip": "Zip","descriptor": "Descriptor","unique_key":"Key",
                                "longitude": "Longitude", "latitude":"Latitude"})

food = food[["Key","Incident Date","Complaint","Street_Address","Borough","Zip","Longitude","Latitude"]]
food.head(1)

,Key,Incident Date,Complaint,Street_Address,Borough,Zip,Longitude,Latitude
0,40969788,2018-11-17T22:14:49,Food Poisoning,98-95 QUEENS BOULEVARD,QUEENS,11374,-73.85523489454108,40.72752040635547

In [105]:
food['Street_Address'] = food.Street_Address.astype(str)

x = []
y = food['Street_Address']

for i in y:
    x.append(' '.join(i.split()))

In [106]:
y = pd.Series(x)
food.insert(loc=0, column='Adjusted Street', value=y)

food = food.drop(columns=['Street_Address'])

food.head(1)

,Adjusted Street,Key,Incident Date,Complaint,Borough,Zip,Longitude,Latitude
0,98-95 QUEENS BOULEVARD,40969788,2018-11-17T22:14:49,Food Poisoning,QUEENS,11374,-73.85523489454108,40.72752040635547

In [107]:
food['Incident Date'] = pd.to_datetime(food["Incident Date"])

In [108]:
food["Last"] = food["Adjusted Street"].str.split().str[-1]

In [112]:
food.head(1)

,New Adjusted Street,Adjusted Street,Key,Incident Date,Complaint,Borough,Zip,Longitude,Latitude,Last
0,98-95 QUEENS,98-95 QUEENS BOULEVARD,40969788,2018-11-17 22:14:49,Food Poisoning,QUEENS,11374,-73.85523489454108,40.72752040635547,BOULEVARD

In [110]:
z = food['Adjusted Street']

j = []

for i in z:
    j.append(i.rsplit(' ', 1)[0])

In [111]:
food.insert(loc=0, column='New Adjusted Street', value=j)

food.head(1)

,New Adjusted Street,Adjusted Street,Key,Incident Date,Complaint,Borough,Zip,Longitude,Latitude,Last
0,98-95 QUEENS,98-95 QUEENS BOULEVARD,40969788,2018-11-17 22:14:49,Food Poisoning,QUEENS,11374,-73.85523489454108,40.72752040635547,BOULEVARD

In [51]:
List1 = food['Last'].unique().tolist()
List2 = inspections['Last'].unique().tolist()

uniqueList = []

for i in mergedlist:
    if i not in uniqueList:
        uniqueList.append(i)
        
uniqueList.sort()

In [78]:
food.to_csv('c:/LearnPython/food_poinsoning_nyc.csv',index=False, header=True)